<div class='container'>
    {{#each brgList}}
    <div class="modal fade" id="burg{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{this.burger_name}} Condiments</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{#if this.lettuce}}
                    <span>Lettuce,</span>
                    {{/if}}
                    {{#if this.toms}}
                    <span>Tomatoes,</span>
                    {{/if}}
                    {{#if this.onions}}
                    <span>Onions,</span>
                    {{/if}}
                    {{#if this.pickles}}
                    <span>Pickles,</span>
                    {{/if}}
                    {{#if this.bacon}}
                    <span>Bacon,</span>
                    {{/if}}
                    {{#if this.ketchup}}
                    <span>Ketchup,</span>
                    {{/if}}
                    {{#if this.mustard}}
                    <span>Mustard,</span>
                    {{/if}}
                    {{#if this.mayo}}
                    <span>Mayo,</span>
                    {{/if}}
                    {{#if this.bbq}}
                    <span>BBQ</span>
                    {{/if}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}

    <div class='row'>
        <div class='col-12'>
            <div class='jumbotron'>
                <h2> Eat Da Burger </h2>
                <span>The Number One BurgerBuilder in the World</span>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='card col-5'>
            <div class='card-body'>
                <h4 class='card-title'> Build Your Burger </h4>
                <div class='card-text'>
                    Select from our fine burger options, and see for yourself what really works!
                    <hr>
                    <div>
                        <form>
                            <div class="form-group">
                                <label for="select_meat">Pick Your Patty</label>
                                <select class="form-control" id="select_meat">
                                    <option>Beef</option>
                                    <option>Pork</option>
                                    <option>Turkey</option>
                                    <option>Salmon</option>
                                    <option>Vegitarian</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="select_bun">Bet on a Bun</label>
                                <select class="form-control" id="select_bun">
                                    <option>Classic White</option>
                                    <option>Classic Sesame</option>
                                    <option>Country Potato</option>
                                    <option>Brioche</option>
                                    <option>Pretzel</option>
                                </select>
                            </div>
                            <hr>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="check_lettuce" value="">
                                <label class="form-check-label" for="check_lettuce"> LETTUCE </label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="check_tomatoes" value="">
                                <label class="form-check-label" for="check_tomatoes"> TOMATOES </label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="check_onions" value="">
                                <label class="form-check-label" for="check_onionsRaw"> ONIONS </label>
                            </div>


                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="check_pickles" value="">
                                <label class="form-check-label" for="check_pickles"> PICKLES </label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="check_bacon" value="">
                                <label class="form-check-label" for="check_bacon"> BACON </label>
                            </div>
                            <hr>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="check_ketchup" value="">
                                <label class="form-check-label" for=""> KETCHUP </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="check_mustard" value="">
                                <label class="form-check-label" for=""> MUSTARD </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="check_mayo" value="">
                                <label class="form-check-label" for=""> MAYO </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="check_bbq" value="">
                                <label class="form-check-label" for=""> BBQ </label>
                            </div>
                            <hr>
                            <div class='form-group'>
                                <label for='burger_name'> Name your burger: </label>
                                <input id='burger_name' class="form-control" type="text" placeholder="Rabid Rodeo">
                            </div>
                            <br>
                            <button id="buildBurger" type="button" class="btn btn-secondary">Build It!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class='card col-7' id='burgs_section'>
            <div class='card-body'>
                <h3 class='card-title'> Eat Da Burger </h3>
                <div class='card-text'>
                    {{#each brgList}}
                    <div class='card'>
                        <div class='card-body'>
                            <h4 class='card-title'> {{this.burger_name}}</h4>
                            <div class='card-text'>
                                <p> A {{this.meat}} patty on a {{this.bun}} bun</p>
                            </div>
                            <div class='card-footer'>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#burg{{this.id}}">
                                    View Details
                                </button>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

</div>